<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />



    </head>
    <body>
        <header>
            <nav class="navbar">
                <a class="navbar-brand" href="#">
                    <img src="~/Logo.svg" width="185" height="32" alt="">
                </a>
            </nav>
            <form method="post">
                <input type="submit" value="Log Out" class="btn btn-primary" />
            </form>
        </header>
        @RenderBody()

    </body>
</html>