@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html>

    <div class="text-center">
        <body>
            <p style="font-size: 36px;"> Настоящим подтверждено, Максим пидорас</p><br><br><br>
            <p style="font-size: 32px;"> Будущим подтверждено, Назар сосал</p>
            <p style="font-size: 42px;">@Model.Auth</p>
        </body>
    </div>
</html>